<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silva.chetax.schedule.center.test.mapper.TstTest1Mapper">
	<update id="updateSomething">
		update tst_test1 set code =1 where name='a'
	</update>
</mapper>
